*.mat
*.h5
*.pyc
*.npy
*.npz
*-checkpoint.ipynb
*.swp
*.pkl
.DS_Store
.idea/

venv/
data/referit/processed*
data/referit/images/
data/referit/*.txt
data/referit/*.gz
data/visual/images/
data/visual/processed*
data/visual/*.json
data/visual/*.txt
*experiment*/


*.zip

*-Copy*.ipynb

checkpoint

